%h3 Contact Us, Get Involved

%p We're just getting started with TILT and need all of the help, thoughts, advice, encouragement, etc that we can get.

%p We're also looking for people that would be willing to take on a more significant role in making this a reality.

%p
  You can contact us at
  = mail_to("contact@tiltschools.com", "contact@tiltschools.com")

%p You can also follow us:
%ul
  %li
    Twitter:
    = link_to("http://twitter.com/tiltschools", "http://twitter.com/tiltschools", :target => "_blank")
  %li
    Faceboook:
    = link_to("TILT Schools Fan page", "http://www.facebook.com/pages/TILT-Schools/146148865432546", :target => "_blank")
