%h3 What are the TILT's Goals?

%p 
  Ultimately the goal of TILT is to provide both public, private, and charter schools with a blueprint for tested,
  reproducible strategies for executing the TILT ideas.

%p
  In order to achieve this result we will be exploring both the possibility of creating a charter school system that
  applies these ideas in as pure a form as possible, as well as helping other schools to apply the ideas independently.

%p
  Either way we would look to distribute best practices for free, online, to any school that wishes to take advantage of
  them, hopefully creating a community of people that are able to help new school implement these ideas effectively.

%p
  All of this is assuming that we can prove these ideas to be effective, either through a school system that is
  implementing them specifically, or through the execution of variations of the ideas at many schools.
