.top_message
  %h3 Let's TILT the scales back toward the students!

.left_half
  %h4 What Is TILT?

  %p
    TILT is currently a theoretical idea about improving the state of education
    without a dramatic spending increase and without relying on finding hero,
    self-sacrificing teachers to save the day.

  %h4 The Idea

  %p
    The ideas behind TILT are based around one fundamental change:
    students as student-teachers.

  %p
    TILT turns the student population in to an army of teachers, with older students teaching
    younger students (e.g. three 5th graders teaching nine 4th graders), and younger students
    teaching even younger students (e.g. three 4th graders teaching nine 3rd graders).

  %p
    This simple concept provides a number of benefits that have the potential to change the
    dynamics of how we think about education and the value that the students receive from
    their education.

  %p
    It’s a solution that does not require billions of dollars of additional funding for schools to
    find and train excellent teachers, does not require teachers to make significant personal
    sacrifices, does not require a war against the teachers’ unions, and puts the students at the
    forefront of solving a problem that is fundamentally about the students.
    
     
.right_half
  %h4 Benefits
  %ul.benefits
    %li
      %b Teaching Is Learning Too
      %p
        Teaching another person may be one of the best ways to turn learning into
        knowledge. In order to teach, you have to understand the material, not simply
        regurgitate the material. Teaching also teaches communication skills, empathy,
        teamwork, creativity, and many other skills that are essential in the real world.
    %li
      %b Learning How To Learn
      %p
        In order to teach students have to take a step back and ask themselves how they themselves
        learn. It forces them to look for ways to optimize their own learning and explore
        creative new approaches to help themselves become better at learning new material so that
        they can transfer these skills to their students.
    %li
      %b Increased Responsibility
      %p
        Students as student-teachers means that the students are now responsible for the
        success of their school as a whole. Many students never get the opportunity to
        become a trusted, responsible, contributing member of a large group. TILT makes
        this happen on a daily basis.
    %li
      %b Empathetic Teaching
      %p
        Older students may be able to develop unique insights on how best to teach students
        who are slightly younger, having recently been through the process of
        learning from older students themselves. On the flip side students can
        draw from their experiences as teachers to be better learners, more respectful
        of the challenges that teachers face.
    %li
      %b Classroom Management
      %p
        Expecting one teacher to be able to manage a classroom of 18-30 students while
        also being an excellent teacher is a lot to ask, even of the best teachers. Having
        three older students teaching nine younger students means that all three older
        students can be involved in teaching and classroom management simultaneously,
        a much more reasonable task.
    %li
      %b A Community
      %p
        With all students acting both as teachers as well as learners, there is a greater
        community feel, with greater opportunity for students to develop empathy for
        teachers. It even provides opportunities for learning to take place outside the
        classroom where the student-teachers have more contact with their students than
        teachers normally do.
    -#
      %li
        %b Self-Sacrifice Not Required
        %p
          Most importantly TILT does not require teachers to make personal
          sacrifices above and beyond what should reasonably be expected in the job.
          They wouldn't be required to work lengthy hours and on weekends, risking burnout.
          Teachers would be able to spend more time observing and improving the system,
          rather than simply scrambling to educate while controlling the classroom.


