.top_message
  %h3 Let's tilt the scales back toward the children!

.left_half
  %p
    TILT is currently a theoretical idea about improving the
    state of education without a dramatic spending increase,
    and without relying on hero, self-sacrificing teachers to save the day.

  %h4 The Idea

  %p
    The ideas behind TILT are based around one fundamental change:
    students as student-teachers.

  %p
    TILT turns the student population in to an army of teachers,
    with older students teaching younger students
    (e.g. Three 5th graders teaching nine 4th graders), and
    younger students teaching even younger students
    (e.g. Three 4th graders teaching nine 3rd graders).

  %p
    This simple concept provides a number of benefits (described
    on the right), that have the potential to change the dynamics
    of how we think about education, and the value that the students
    receive from their education.
     
.right_half
  %p BENEFITS
